@import "@/assets/scss/reset.scss";

$navbarHeight: 70px;

$padding-05: 0.5rem;
$padding-1: 1rem;
$padding-1-5: 1.5rem;
$padding-2: 2rem;

//COLORS
$bg: #ffeced;
$pink-1: #fb6a6b;
$pink-2: #eb5e5e;
$pink-3: #ff8181;
